<style>
  
    /* Add a background image */
    body {
      background-image: url("https://scontent-lax3-1.xx.fbcdn.net/v/t1.15752-9/58384437_805056193210782_2677201764414914560_n.png?_nc_cat=110&_nc_ht=scontent-lax3-1.xx&oh=b449d4122f5ae131791caa9db38b574f&oe=5D2E863E");
      background-repeat:no-repeat;
      background-size:cover;
    } 
  
    /* Change Navbar to cyan */
    .navbar-default {
      background-color:#17a2b8;
      background-image: none;
      background-repeat: no-repeat;
   }
  
  /* 17a2b8 blue */
   /* Make all links in nav bar white*/
   .navbar {  border: none!important; }
   .navbar-default .navbar-nav li a { color: #fff; }
   .navbar-default .navbar-brand {
      color: #ffffff;
  }

  .btn-primary {
  color: #fff;
  background-color: #d71462;
  border-color: #d71462;
}
  
  .btn.btn-primary:hover,
  .btn.btn-primary:focus,
  .btn.btn-primary:active,
  .btn.btn-primary.active {
    color: #ffffff;
    background-color: #fc609f;
    border-color: #fc609f;
  }
  
  </style>
<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/cartoonify">Cartoonify!</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>