{% extends 'layout.html' %}

{% block body %}
<h1>About Us</h1>
<p>Cartoonify! is a web application built using Flask and Python and hosted on Heroku that enables users to morph portrait photos with a cartoon (selected from a list twelve available cartoon characters). The application combines manual point selection with deep learning to find 80 facial keypoints on the uploaded face with the predetermined points on the selected cartoon character’s face to create a convincing blend of the two images. Once the morph is complete, the user can view the halfway point of the morph as an image and a gif of the morph. The user is then free to download the gif, image, or resulting .mp4 video and retry with a new initial image.</p>
<p>Cartoonify! was built by Athena, Nisha, Hazal, Tiffany, and Huey at Harvey Mudd College under guidance of Professor Sweedyk. </p>

{% endblock %}
