{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron">

<h1>About Us</h1>
<p>Cartoonify! is a web application that enables users to morph headshots with a cartoon. Morphing is the process in which two images are blended together to create one composite image. The application combines manual point selection with deep learning to find 80 facial keypoints on the uploaded face to create a convincing blend of the two images. These facial keypoints form the basis of the morphed image. Once the process is complete, the user can view the halfway point as an image or as a gif which they can then download. </p>
<p>Cartoonify! was built by Athena, Nisha, Hazal, Tiffany, and Huey at Harvey Mudd College under the guidance of Professor Sweedyk. </p>
        

</div>

{% endblock %}
