{% extends 'layout.html' %}

{% block body %}
<script src="/static/js/jquery-3.1.1.js"></script>

<div class="jumbotron text-center">
    <h1>Cartoonify!</h1>
    
    <h2>Click your image below to designate the following four points in this order:</h2>
    <h3>(Directions are from the image's point of view)</h3>
    <table class="image" align="center" width="100%">
      <col style="width:25%">
      <col style="width:25%">
      <col style="width:25%">
      <col style="width:25%">
      <tr>
        <td>
          <p>Left Ear:</p>
          <img src= "{{ url_for('static', filename='examples/' + 'hueyRed.jpg') }}" width="100%">
        </td>
        <td>
          <p>Neck:</p>
          <img src= "{{ url_for('static', filename='examples/' + 'hueyBlue.jpg') }}" width="100%">
        </td>
        <td>
          <p>Right Shoulder:</p>
          <img src= "{{ url_for('static', filename='examples/' + 'hueyYellow.jpg') }}" width="100%">
        </td>
        <td>
          <p>Left Shoulder:</p>
          <img src= "{{ url_for('static', filename='examples/' + 'hueyGreen.jpg') }}" width="100%">
        </td>
      </tr>
    </table>

    <br>
    <br>
    <canvas id = "points_image" width = "600" height = "800"></canvas>
    <br>
    <br>
    <button onclick = "clearPoints()" class='btn btn-default'>Clear points</button>
    <br>
    <br>  

    <form id = "points_form" action="{{ url_for('add_points', filename=filename) }}" method="post" enctype="multipart/form-data">
      <input id="submitbutton" type="submit" value="Confirm points" class="btn btn-primary" disabled>
      <input type="text" style = "display:none;" name="leftearX" value=""><br>
      <input type="text" style = "display:none;" name="leftearY" value=""><br>
      <input type="text" style = "display:none;" name="neckX" value=""><br>
      <input type="text" style = "display:none;" name="neckY" value=""><br>
      <input type="text" style = "display:none;" name="rightshoulderX" value=""><br>
      <input type="text" style = "display:none;" name="rightshoulderY" value=""><br>
      <input type="text" style = "display:none;" name="leftshoulderX" value=""><br>
      <input type="text" style = "display:none;" name="leftshoulderY" value=""><br>
    </form>    

    
    <script language = "Javascript">
        var canvas = document.getElementById("points_image");
        var clear = document.getElementById("clear");
        var context = canvas.getContext('2d');
        var form = document.getElementById("points_form");
        var submitbutton = document.getElementById("submitbutton");

        function clearPoints() {
          // Clear the form
          for (var i = 0; i < form.elements.length; i++) {
              textinput = form.elements[i];

              if (textinput.id !== "submitbutton") {
                  textinput.value = null;
              }

              // Disable submit button
              submitbutton.disabled = true;
          }

          // Redraw the canvas
          context.drawImage(image, 0, 0);
        }

        image = new Image();
        image.src = "{{ url_for('add_points', filename = filename)}}"
        image.onload = function() {
            context.drawImage(image, 0, 0);
        };

        canvas.addEventListener('click', function(event) {
            // Get x and y coordinates of click event on canvas
            var x = event.pageX - canvas.offsetLeft;
            var y = event.pageY - canvas.offsetTop;

            // Find the first empty X and Y input text boxes and complete them
            for (var i = 0; i < form.elements.length; i++) {
                textinput = form.elements[i];

                if (textinput.value === "" && textinput.name.slice(-1) === "X") {
                    textinput.value = x;
                    form.elements[i + 1].value = y;

                    // Choose the color of the point based on which point we are choosing
                    switch(i) {
                        // Left ear
                        case 1:
                            context.fillStyle = "#FF0000";
                            break;
                        
                        // Neck
                        case 3:
                            context.fillStyle = "#0000FF";
                            break;

                        // Right shoulder
                        case 5:
                            context.fillStyle = "#FFFF00";
                            break;

                        // Left shoulder
                        case 7:
                            context.fillStyle = "#00FF00";
                            submitbutton.disabled = false;
                            break;

                        default:
                            break;
                    }
                    
                    // Create a rectangular point centered at where the user clicked
                    context.fillRect(x - 5, y - 5, 11, 11);
                    break;
                }
            }
        });

    </script>

</div>


{% endblock %}
