{% extends 'layout.html' %}

{% block body %}
<script src="/static/js/jquery-3.1.1.js"></script>

<div class="jumbotron text-center">
    <h1>Cartoonify</h1>

    <h1>Click on the image to mark the points in the form below!</h1>
    <img src="{{ url_for('add_points_image', filename=filename) }}"></img>
    <br>

    <h3>Left and right are from the person in the picture's perspective</h3>
    <form action="{{ url_for('add_points', filename=filename) }}" method="post" enctype="multipart/form-data">
        <span class="btn btn-default btn-file">
            Left Ear X:<br>
            <input type="text" name="leftearX"><br>
            Left Ear Y:<br>
            <input type="text" name="leftearY"><br>
            Neck X:<br>
            <input type="text" name="neckX"><br>
            Neck Y:<br>
            <input type="text" name="neckY"><br>
            Right Shoulder X:<br>
            <input type="text" name="rightshoulderX"><br>
            Right Shoulder Y:<br>
            <input type="text" name="rightshoulderY"><br>
            Left Shoulder X:<br>
            <input type="text" name="leftshoulderX"><br>
            Left Shoulder Y:<br>
            <input type="text" name="leftshoulderY"><br>
        </span>

        <input type="submit" value="Confirm points" class="btn btn-primary">
    </form>

</div>


{% endblock %}
