{% extends 'layout.html' %}

{% block body %}
<script src="/static/js/jquery-3.1.1.js"></script>

<div class="jumbotron text-center">
    {% if init %}
        <div id = "morph_completed">
            <h1>Here is your morph!</h1>
            <h3>Morphed gif:</h3>
            <img src="{{ url_for('download_file', filename=gifname) }}"></img>
            <br>
            <br>
            <table class="image" align="center">
                <tr>
                    <td>
                        <p>Quarter Image:</p>
                        <img src="{{ url_for('download_file', filename=quartername)}}" width="250">
                    </td>
                    <td>
                        <p>Halfway Image:</p>
                        <img src="{{ url_for('download_file', filename=halfwayname)}}" width="250">
                    </td>
                    <td>
                        <p>Three Quarters Image:</p>
                        <img src="{{ url_for('download_file', filename=threequartername)}}" width="250">
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                        <a href="{{ url_for('download_file', filename=quartername) }}"><button class='btn btn-default'>Download Quarter Image</button></a>
                    </td>
                    <td>
                        <br>
                        <a href="{{ url_for('download_file', filename=halfwayname) }}"><button class='btn btn-default'>Download Halfway Image</button></a>
                    </td>
                    <td>
                        <br>
                        <a href="{{ url_for('download_file', filename=threequartername) }}"><button class='btn btn-default'>Download Three Quarters Image</button></a>
                    </td>
                </tr>
            </table>
            <br>
            <br>
            <a href="{{ url_for('download_file', filename=videoname) }}"><button class='btn btn-default'>Download GIF as .mp4</button></a>
            <br>
            <br>
            <a href="{{ url_for('download_file', filename=gifname) }}"><button class='btn btn-default'>Download GIF</button></a>
            <br>
            <br>
            <a href="{{ url_for('tryagain', filename=gifname) }}"><button class='btn btn-default'>Try again!</button></a>
        </div>
        
    {% else %}
        <h1>Cartoonify!</h1>

        <form action="/addpoints" method="post" enctype="multipart/form-data">
            <span class="btn btn-default btn-file">
                <input type="file" name="image">
            </span>
            <input type="submit" value="Upload your image" class="btn btn-primary">
        </form>
    {% endif %}
</div>


{% endblock %}