{% extends 'layout.html' %}

{% block body %}
<script src="/static/js/jquery-3.1.1.js"></script>

<div class="jumbotron text-center">
    {% if init %}
        <div id = "morph_completed">
            <h1>Here is your morph!</h1>
            <h3>Morphed gif:</h3>
            <img src="{{ url_for('download_file', filename=gifname) }}"></img>
            <br>
            <br>
            <h3>Halfway image:</h3>
            <img src="{{ url_for('download_file', filename=halfwayname)}}"></img>
            <br>
            <br>
            <a href="{{ url_for('download_file', filename=videoname) }}"><button class='btn btn-default'>Download .mp4</button></a>
            <br>
            <br>
            <a href="{{ url_for('download_file', filename=gifname) }}"><button class='btn btn-default'>Download GIF</button></a>
            <br>
            <br>
            <a href="{{ url_for('download_file', filename=halfwayname) }}"><button class='btn btn-default'>Download Halfway Image</button></a>
            <br>
            <br>
            <a href="{{ url_for('tryagain', filename=gifname) }}"><button class='btn btn-default'>Try again!</button></a>
        </div>
        
    {% else %}
        <h1>Cartoonify!</h1>

        <form action="/addpoints" method="post" enctype="multipart/form-data">
            <span class="btn btn-default btn-file">
                <input type="file" name="image">
            </span>
            <input type="submit" value="Upload your image" class="btn btn-primary">
        </form>
    {% endif %}
</div>


{% endblock %}