{% extends 'layout.html' %}

{% block body %}
<script src="/static/js/jquery-3.1.1.js"></script>

<div class="jumbotron text-center">
    {% if init %}
        <div id = "morph_completed">
            <h1>Here is your morph!</h1>
            <h3>Morphed gif:</h3>
            <img src="{{ url_for('download_file', filename=gifname) }}"></img>
            <br>
            <br>
            <table class="image" align="center" width="100%">
                <col style="width:30%">
                <col style="width:40%">
                <col style="width:30%">
                <tr>
                    <td>
                        <p>25% Morphed:</p>
                        <img src="{{ url_for('download_file', filename=quartername)}}" width="250">
                    </td>
                    <td>
                        <p>50% Morphed:</p>
                        <img src="{{ url_for('download_file', filename=halfwayname)}}" width="250">
                    </td>
                    <td>
                        <p>75% Morphed:</p>
                        <img src="{{ url_for('download_file', filename=threequartername)}}" width="250">
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                        <a href="{{ url_for('download_file', filename=quartername) }}"><button class='btn btn-default'>Download 25% Image</button></a>
                    </td>
                    <td>
                        <br>
                        <a href="{{ url_for('download_file', filename=halfwayname) }}"><button class='btn btn-default'>Download 50% Image</button></a>
                    </td>
                    <td>
                        <br>
                        <a href="{{ url_for('download_file', filename=threequartername) }}"><button class='btn btn-default'>Download 75% Image</button></a>
                    </td>
                </tr>
            </table>
            <br>
            <br>
            <a href="{{ url_for('download_file', filename=videoname) }}"><button class='btn btn-default'>Download GIF as .mp4</button></a>
            <br>
            <br>
            <a href="{{ url_for('download_file', filename=gifname) }}"><button class='btn btn-default'>Download GIF</button></a>
            <br>
            <br>
            <a href="{{ url_for('tryagain', filename=gifname) }}"><button class='btn btn-default'>Try again!</button></a>
        </div>
        
    {% else %}
        <h1>Cartoonify!</h1>

        <form action="/addpoints" method="post" enctype="multipart/form-data">
            <span class="btn btn-default btn-file">
                <input type="file" name="image">
            </span>
            <input type="submit" value="Upload your image" class="btn btn-primary">
        </form>
            <h3>Upload a front facing photo (examples below)</h3>
            <h5>Images work best if they have dimensions 600x800</h5>
            <table class="image" align="center" width="100%">
                    <col style="width:33%">
                    <col style="width:34%">
                    <col style="width:33%">
                    <tr>
                      <td>
                        <img src= "{{ url_for('static', filename='examples/' + 'huey.jpg') }}" width="250">
                      </td>
                      <td>
                        <img src= "{{ url_for('static', filename='examples/' + 'miguel.jpg') }}" width="250">
                      </td>
                      <td>
                        <img src= "{{ url_for('static', filename='examples/' + 'tiffanyPortrait.jpg') }}" width="250">
                      </td>
                    </tr>
                  </table>
    {% endif %}
</div>


{% endblock %}